<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job Submitted</title>
    

</head>

<body>
	<img src="ineuron-logo.png" alt="iNeuron" >
			<h2> Image Downloader </h2>
    <div class="container job_submitted-css text-center user-select-none">
       
        <h1>Congratulations!!</h1>
        <p>Your job has been successfully added in the queue. You'll get notified over an email once the job is
            completed</p>
        <h2>Want to submit more such jobs?</h2>
        <a href='/'><button class="btn">Return back to home</button></a>
    </div>

   
</body>

</html>